<a href="https://colab.research.google.com/github/subhrapattnaik/Assignment/blob/main/20thAugAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
s1= "subhra"
s1[::-1]

'arhbus'

2. Check if a string is a palindrome.

In [ ]:
def isPalindrome(string):
  if (string == string[::-1]) :
    print("The string is a palindrome")
  else:
    print("The entered string is not a palindrome")


str = input("Enter a String ")
isPalindrome(str)

Enter a String hello
The entered string is not a palindrome

3. Convert a string to uppercase.

In [ ]:
s2= input("Enter a String : ")
s2.upper()

Enter a String : hello

'HELLO'

5.Convert a string to lowercase.

In [ ]:
s3= input("Enter a String : ")
s3.upper()

Enter a String : gelll

'GELLL'

5. Count the number of vowels in a string.

In [ ]:
s4 = input("Enter a String : ")
s4=s4.lower()

vowels=0
len(s4)
for i in range(len(s4)):

  if (s4[i] == 'a' or s4[i] == 'e' or s4[i] == 'i' or s4[i] == 'o' or s4[i] == 'u'):

    vowels = vowels+1
print("Number of vowels in the entered string are : ", vowels)

Enter a String : dddd
Number of vowels in the entered string are :  0

6. Count the number of consonants in a string.

In [ ]:
s4 = input("Enter a String : ")
s4=s4.lower()
vowels = 0
consonants=0
len(s4)
for i in range(len(s4)):

  if (s4[i] == 'a' or s4[i] == 'e' or s4[i] == 'i' or s4[i] == 'o' or s4[i] == 'u'):

    vowels = vowels+1
  else:
    consonants = consonants +1
print("Number of consonants in the entered string are : ", consonants)

Enter a String : 6666hhhh
Number of consonants in the entered string are :  8

7. Remove all whitespaces from a string.

In [ ]:
s5= input(" Enter a String : ")
s6=s5.replace(" ", "")
print ("String after removing all white spaces : " ,s6)

 Enter a String : vsdg. fgdhfh
String after removing all white spaces :  vsdg.fgdhfh

8. Find the length of a string without using the `len()` function.

In [ ]:
s6= input("Enter a String : ")
count = 0
for i in range(len(s6)):
  count =count+1
print("Length of the entered string is : ", count)

Enter a String : xvcv
Length of the entered string is :  4

9. Check if a string contains a specific word.

In [ ]:
s8 = input("Enter a String : ")

word =input ("Enter the specific word you want to check in the string : ")

if word.lower() in s8.lower():
  print("The specific word is there in the String")
else:
  print("The specific word is not there in the String")

Enter a String : xcxv

10. Replace a word in a string with another word.

In [ ]:
s = "Hello How are you doing "
s.replace ("How", "xxx")

11. Count the occurrences of a word in a string.

In [ ]:
s8 = input("Enter a String : ")
word= input("enter the word :")
count = s8.count(word)
count

12. Find the first occurrence of a word in a string.

In [ ]:
s2="hello how are you .how is your family"
s2.find("hello")

#  find() method is used to return the index of the first occurrence of the character specified or a String specified.
#If the character or substring is found,
#it will return the position. Indexing in a String starts from 0. Returns -1 if a character or String not found."""

13. Find the last occurrence of a word in a string.

In [ ]:
#The rfind() method finds the last occurrence of the specified value.

#The rfind() method returns -1 if the value is not found.
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

14. Split a string into a list of words.

In [ ]:
s1= "hello HOW ARE YOU doing "
s1.split()

15. Join a list of words into a string.

In [ ]:
l1= ["I","love", "coding"]

st= l1[0] + l1[1] + l1[2]

st

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
st2= "Bangalore is a beautiful city"

st3=st2.replace(" ","_")
st3

17. Check if a string starts with a specific word or phrase.

In [ ]:
st9 = "Hello, let us learn datascience"

x = st9 .startswith("Hello")
#The startswith() method returns True if the string starts with the specified value, otherwise False.
#string.startswith(value, start, end)
print(x)

18. Check if a string ends with a specific word or phrase.

In [ ]:
t = "Hello world"
r = t.endswith("world")
r


#The endsWith() method returns true if a string ends with a specified string.

#Otherwise it returns false.

#The endsWith() method is case sensitive.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
#title() function is used to convert an input string to a title case
#i.e. converting the first alphabet of each word to uppercase and the rest into lowercase.
#Python title() function ignore any non-alphabetic characters.
# It ignores any numbers and special characters in the string.

s= " learn coding by doing"
s.title()

20. Find the longest word in a string.

In [ ]:
s = "be confident and be yourself"
l = list(s.split(" "))
# Split the string into words
l = sorted(l, key = len)
# order of their lengths
print(l[-1])

#or
#text=" my name is subhra"
#longest = max(text.split(), key=len)
#longest

21. Find the shortest word in a string.

In [ ]:
text = input("Enter some text: ")

# Finding shortest word
shortest = min(text.split(), key=len)

# Displaying shortest word
print("Shortest word is: ", shortest)
print("And its length is: ", len(shortest))

22. Reverse the order of words in a string.

In [ ]:
s = "be confident and be yourself"
l = list(s.split(" "))
# Split the string into words

print(l[::-1])

23. Check if a string is alphanumeric.

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)
#The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
#Example of characters that are not alphanumeric: (space)!#%&? etc.

24. Extract all digits from a string.

In [ ]:
s ="hello i joined the course on 12th august2023"
for i in s:
  # using isdigit() function
  if(i.isdigit()):
    print(i,end="")

25. Extract all alphabets from a string.

In [ ]:
s ="hello i joined the course on 12th august2023"
for i in s:
  # using isalpha() function
  if(i.isalpha()):
    print(i,end="")

26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.

In [ ]:
string=("NewDelhi is our national capital")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

28. Swap the case of each character in a string.

In [ ]:
#swapcase() method is used to swap the case of all the case-based characters present in a string.
# That is, the lowercase characters in the string will be converted into uppercase characters and vice-versa.

str = "ThiS is String Example....wOW!!!";
print(str.swapcase())

29. Remove a specific word from a string.

In [ ]:

a1 = "remove word from this"
a2 = a1.replace("word", '')
print(a2)

30. Check if a string is a valid email address.

In [ ]:
!pip install validate_email
!pip install email-validator

from email_validator import validate_email, EmailNotValidError

def check(email):
    try:
      # validate and get info
        v = validate_email(email)
        # replace with normalized form
        email = v["email"]
        print("True")
    except EmailNotValidError as e:
        # email is not valid, exception message is human-readable
        print(str(e))

check("my.ownsite@our-earth.org")

check("ankitrai326.com")

31. Extract the username from an email address string.

In [ ]:
# Python3 code to demonstrate working of
# Extract domain name from Email address
# Using split()

# initializing strings
test_str = 'subhra@gmail.com'

# printing original string
print("The original string is : " + str(test_str))

# using split() to get user name
res = test_str.split('@')[0]

# printing result
print("The extracted user name : " + str(res))

32. Extract the domain name from an email address string.

In [ ]:
# Python3 code to demonstrate working of
# Extract domain name from Email address
# Using split()

# initializing strings
test_str = 'subhra@gmail.com'

# printing original string
print("The original string is : " + str(test_str))

# using split() to get domain name
res = test_str.split('@')[1]

# printing result
print("The extracted domain name : " + str(res))

33. Replace multiple spaces in a string with a single space.

In [ ]:
str1= "    Bangalore is the capital     and  largest  city.     of the southern Indian state of Karnataka.                  "
result = " ".join(str1.split())
print(repr(result))
#Use the str.split() method to split the string on each whitespace character.
#Use the str.join() method to join the list of strings with a space.
#The words in the new string will be separated by a single space.

34. Check if a string is a valid URL.

In [ ]:
!pip install validators
import validators
validation =validators.url("http://www.google.com")
if validation:
   print("URL is valid")
else:
  print("URL is invalid")

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url="http://google.com"

url.split(":")[0]

36. Find the frequency of each character in a string.

In [ ]:
text= "Bangalore is the IT Hub of India"
text.lower().count('b')

37. Remove all punctuation from a string.

In [ ]:
import string
txt= " Hello , what's your father's name"
translator = txt.maketrans("", "", string.punctuation)
result = txt.translate(translator)
result

38. Check if a string contains only digits.

In [ ]:
my_string = "1234"
if my_string.isdigit():
    print("The string contains only digits!")
else:
    print("The string does not contain only digits.")

39. Check if a string contains only alphabets.

In [ ]:
my_string = "ssssssssffff"
if my_string.isalpha():
    print("The string contains only alphabates!")
else:
    print("The string does not contain only alphabates.")

40. Convert a string to a list of characters.

In [ ]:
str= " hello how are you"
l= []
for i in range(len(str)):
  print(str[i])
  l.append(str[i])
print(l)

41. Check if two strings are anagrams.

In [ ]:
#Two strings are said to be anagram if we can form one string by arranging the characters of another string. For example, Race and Care.
# Here, we can form Race by arranging the characters of Care.


str1 = "Race"
str2 = "Care"
# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

42. Encode a string using a Caesar cipher.

In [ ]:
"""

    Caesar Cipher Technique is the simple and easy method of encryption technique.

    It is simple type of substitution cipher.

    Each letter of plain text is replaced by a letter with some fixed number of positions down with alphabet.

"""

def encrypt_text(plaintext,n):
    ans = ""
    # iterate over the given text
    for i in range(len(plaintext)):
        ch = plaintext[i]

        # check if space is there then simply add space
        if ch==" ":
            ans+=" "
        # check if a character is uppercase then encrypt it accordingly
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        # check if a character is lowercase then encrypt it accordingly

        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)

    return ans

plaintext = "HELLO EVERYONE"
n = 2
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

43. Decode a Caesar cipher encoded string.

In [ ]:
"""
To decrypt the original text, we can build a function that will shift in the opposite direction.
But we can make use of the module's cyclic cipher's property.



Decryption can be performed using the same function. As an alternative, we will change the shift value to shifts = 26 - shift.

"""

def decrypt_text(encryptedtext,n):
    ans = ""
    # iterate over the given text
    for i in range(len(encryptedtext)):
        ch = encryptedtext[i]

        # check if space is there then simply add space
        if ch==" ":
            ans+=" "
        # check if a character is uppercase then encrypt it accordingly
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        # check if a character is lowercase then encrypt it accordingly

        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)

    return ans

encryptedtext = "JGNNQ GXGTAQPG" # just used the encrypted text of the previous example
n = 26 - 2
print("encrypted Text is : " + encryptedtext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + decrypt_text(encryptedtext,n))

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1

2. Find the length of a list without using the `len()` function.

In [ ]:
len(l1)

3. Append an element to the end of a list.

In [ ]:
l1. append(11)
l1

4. Insert an element at a specific index in a list.

In [ ]:
l1.insert(2, 88)
#at 2nd index add 88

l1

5. Remove an element from a list by its value.

*   List item
*   List item

In [ ]:
l1.remove(9)
l1

6. Remove an element from a list by its index.

In [ ]:
l1.pop(2)
l1

7. Check if an element exists in a list.

In [ ]:
if 2 in l1:
  print("exists")

8. Find the index of the first occurrence of an element in a list.

In [ ]:
l2= ["applee","mango","apple","mango"]
l2.index("mango")

9. Count the occurrences of an element in a list.

In [ ]:
l2.count("mango")

10. Reverse the order of elements in a list.

In [ ]:
l2[::-1]

11. Sort a list in ascending order.

In [ ]:
vowels = ['e', 'a', 'u', 'o', 'i']


vowels.sort()
vowels

12. Sort a list in descending order.

In [ ]:
vowels = ['e', 'a', 'u', 'o', 'i']
vowels.sort(reverse= True)

vowels

13. Create a list of even numbers from 1 to 20.

In [ ]:
list_even=[]

for i in range(20):
  if i%2 == 0:
    list_even.append(i)

list_even

14. Create a list of odd numbers from 1 to 20.

In [ ]:
list_odd=[]

for i in range(20):
  if i%2 != 0:
    list_odd.append(i)

list_odd

15. Find the sum of all elements in a list.

In [ ]:
list1= [1,24,7,8,9,30,40]
sum =0
for x in list1:
  sum = sum + x
sum

16. Find the maximum value in a list.

In [ ]:
max_value = max(list1)

max_value

17. Find the minimum value in a list.

In [ ]:
min_value = min(list1)
min_value

18. Create a list of squares of numbers from 1 to 10

In [ ]:
list2 = [1,2,3,4,5,6,7,8,9,10]
list_of_squares = []

for x in list2:
  square_x = x * x
  list_of_squares.append(square_x)

list_of_squares

19. Create a list of random numbers.

In [ ]:
list_of_random_numbers =[]
import random

for x in range(10):
  number = random.randint(1,100)
  #number = random.random()
  list_of_random_numbers.append(number)
list_of_random_numbers

20. Remove duplicates from a list.

In [ ]:
list3= [1,1,1,44,44,5,6,77,77,77,77,8,9,3,5,6]

#remove duplicates by converting the list to a set

set3 = set(list3)

set3

21. Find the common elements between two lists.

In [ ]:
l1 = ["apple",2,3,"delhi"]
l2= ["bangalore",2,3,"delhi"]
l3 = []
for x in l1:
  for y in l2:
    if x == y:
     l3.append(y)
l3

22. Find the difference between two lists.

In [ ]:
l1 = ["apple",2,3,"delhi"]
l2= ["bangalore",2,3,"delhi"]
l = []
# l1 - l2
for x in l1:
    if x not in l2:
        l.append(x)

print(l)

23. Merge two lists.

In [ ]:
l1 = ["apple",2,3,"delhi"]
l2= ["bangalore",2,3,"delhi"]


for x in l1:
  l2.append(x)
l2

Tuple Based Practice Problem :

1.Create a tuple with integers from 1 to 5.

In [ ]:
t1= (1,2,3,4,5)
t1

2. Access the third element of a tuple.

In [ ]:
t1= (1,2,3,4,5)
third_element = t1[2]
third_element

3. Find the length of a tuple without using the `len()` function.

In [ ]:
t1= (1,2,3,4,5)
length = 0

for x in t1:
  length = length +1
length

4.Count the occurrences of an element in a tuple.

In [ ]:
t2=('a','a','a',1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,5,8)


#find the occurances of 3 in the tuple
count = t2.count(3)
count

4

5.Find the index of the first occurrence of an element in a tuple.

In [ ]:
#find the first occurance of 'a' in the tuple
t2=('a','a','a',1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,5,8)
index = t2.index('a')
index

0

6. Check if an element exists in a tuple.

In [ ]:
t2=('a','a','a',1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,5,8)
element = 1
for x in t2:
  if x == element:
    print(f"Element {element} exists in tuple t2")
    break
  else:
    continue

Element 1 exists in tuple t2

7. Convert a tuple to a list.

In [ ]:
t2=('a','a','a',1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,5,8)

list_t2=list(t2)

list_t2

['a', 'a', 'a', 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 5, 5, 5, 5, 8]

8. Convert a list to a tuple.

In [ ]:
list = ['jan','feb','march','apr']

tuple1=tuple(list)

tuple1

('jan', 'feb', 'march', 'apr')

9. Unpack the elements of a tuple into variables.

In [ ]:
t3=('a',5,8)

var1, var2, var3 = t3

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)


"""during unpacking, the number of variables must be equal to the number of objects in the tuples.
If this is not the case, a ValueError is raised."""

var1: a
var2: 5
var3: 8

'during unpacking, the number of variables must be equal to the number of objects in the tuples. \nIf this is not the case, a ValueError is raised.'

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
t4 =()
t4_list = []
for x in range(10):
  if x%2 == 0:

    t4_list.append(x)

t4=tuple(t4_list)
t4

(0, 2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
t4 =()
t4_list = []
for x in range(10):
  if x%2 != 0:

    t4_list.append(x)

t4=tuple(t4_list)
t4

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,2,4,56,7)

tuple1 += tuple2

print(tuple1)

('apple', 'banana', 'cherry', 1, 2, 4, 56, 7)

13. Repeat a tuple three times.

In [ ]:
tuple1 = ("apple", "banana", "cherry")

tuple_3times = tuple1 * 3

tuple_3times

('apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry')

14. Check if a tuple is empty.

In [ ]:
A = (1, 2, 3)
#also you can check by len()
#length_tuple = len(A)
#length_tuple


if A :
  print ("Tuple A is not empty")
else :
  print ("Tuple A is empty")

Tuple A is not empty

15. Create a nested tuple.