<a href="https://colab.research.google.com/github/subhrapattnaik/Assignment-SolvedByme/blob/main/For_LoopAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
list1 = [ 1 ,2,3,4,5,6,7,8,9,10]
sum = 0
for x in range(len(list1) + 1):
  sum = sum + x
sum

55

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str1 = "subhra"
reverse_str1=""

for x in str1:
  reverse_str1 =  x + reverse_str1

reverse_str1

'arhbus'

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
  for i in range (1, n+1):
    factorial = factorial * i

print("Factorial of the given number is: ", factorial)

Enter a number: 5
Factorial of the given number is:  120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n = int (input ("Enter a number: "))
print ("Multiplication table of 5 : ")

for i in range(1,11):
       print (n, 'x', i, '=', n * i)

Enter a number: 5
Multiplication table of 5 :
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
list2 = [23,45,2,4,6,8,90,3,56,76,89]
even_count = 0
odd_count = 0
for x in list2:
  if x % 2 == 0:
    even_count += 1
  else:
    odd_count += 1
print(even_count)

print(odd_count)

7
4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for x in range(1,6):
  square = x * x
  print(square)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
str1 = input("Enter a String : ")
count = 0
for x in str1:
  count = count +1
print("Length of the string is : ", count)

Enter a String : su
Length of the string is :  2

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
list1 = [10,20,30,40,50]
sum = 0
avg = 0
for x in list1:
  sum = sum + x
  avg = sum /len(list1)
print("Average of list of numbers in the given list is : ",avg)

Average of list of numbers in the given list is :  30.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
#Fibonacci series is a sequence of numbers where each number is the sum of the previous two consecutive numbers. The series begins with 0 and 1.
#finf fibonacee numbers upto 20
first = 0
second = 1
fibo_list = []
fibo_list.append(first)
fibo_list.append(second)
for x in range(20):
  sum = first + second
  fibo_list.append(sum)
  first=second
  second=sum
fibo_list

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946]

Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
list3 =[2,4,5,6,2,2,4,5,6,6,"apple"]
list3_elements_count = len(list3)
print("Number of elenets in list3 : ", list3_elements_count)

for x in list3:
  print (f"count of {x} in list3",list3.count(x))



set3 = set(list3)
set3_element_count = len(set3)
print("Number of elements in set3 : " ,set3_element_count)


if list3_elements_count != set3_element_count:
  print("List3 contains duplicates")

#The length of List & length of Set are different.
#so list3 contains duplicates

Number of elenets in list3 :  11
count of 2 in list3 3
count of 4 in list3 2
count of 5 in list3 2
count of 6 in list3 3
count of 2 in list3 3
count of 2 in list3 3
count of 4 in list3 2
count of 5 in list3 2
count of 6 in list3 3
count of 6 in list3 3
count of apple in list3 1
Number of elements in set3 :  5
List3 contains duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:

lower = 0
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break

       else:
           print(num)

Prime numbers between 0 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
vowels =['a','e','i','o','u']

str1 ="good morning.happy coding"
count = 0
for x in str1:
  if x in vowels:
    count=count +1
count

7

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
list_2d = [[1,2],[5,6],[56,3]]

list1=[]

for x in list_2d:
  max_element=max(x)
  list1.append(max_element)

print(max(list1))
#need to ask.can be done in a better way

56

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
list= [2,2,3,4,5,2,3,2,32,2,2,2,45,2,2]
n = 2
for x in list:
    if x == n:
        list.remove(x)

list
#doubt -some 2 are not removed

[3, 4, 5, 3, 32, 2, 45, 2, 2]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
num = 1

for num in range(1,6):
  for i in range(10):
    print( num , "x" ,i ," = ",num*i)
  print(" *********************** ")

1 x 0  =  0
1 x 1  =  1
1 x 2  =  2
1 x 3  =  3
1 x 4  =  4
1 x 5  =  5
1 x 6  =  6
1 x 7  =  7
1 x 8  =  8
1 x 9  =  9
 ***********************
2 x 0  =  0
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
 ***********************
3 x 0  =  0
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
 ***********************
4 x 0  =  0
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
 ***********************
5 x 0  =  0
5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
 ***********************

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
list_f = [ -58.0,-40.0,-22.0,-4.0,28.4,30.2]

list_c =[]

for x in list_f :
  c = ((x - 32) * 5) / 9
  list_c .append(c)
list_c

[-50.0, -40.0, -30.0, -20.0, -2.000000000000001, -1.0000000000000004]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
list1 =[2,4,5,6,7,8,9,3]
list2 =[5,3,2,2,3,4,4]
list3=[]
for a in list1:
  for b in list2:
    if a == b:
      list3.append(a)
print("common elements are ",list3)

common elements are  [2, 2, 4, 4, 5, 3, 3]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
x=int(input("Enter row number=\n"))
for i in range(x):
    for j in range(i+1):
        print("#",end='')
    print("")

Enter row number=
6
#
##
###
####
#####
######

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
GCD = 1
num1 = 4
num2 = 64

for i in range(1,min(num1,num2)):

  if(num1 % i == 0 and num2 % i == 0):

    GCD = i
print(f"greatest common divisor (GCD) of {num1} and {num2} is : ", GCD)

greatest common divisor (GCD) of 4 and 64 is :  2

Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
list1 = [12, 15, 3, 10]
sum = 0

#list comprehension.
#[<do-this> <iteration> < condition>]
#condition is optional

_ = [sum:=sum +x for x in list1]
sum

40

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
#don't know

23.Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension

In [ ]:
list1 = [22,22,23,4,4,4,5]
res = [x for x in set(list1)]
print(str(list(res)))

[4, 5, 22, 23]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [ ]:
a=[]
l=int(input("Enter lower limit: "))
u=int(input("Enter upper limit: "))
a=[x for x in range(l,u+1) if str(x)==str(x)[::-1]]
print("The numbers are: ",a)

Enter lower limit: 0
Enter upper limit: 100
The numbers are:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]

# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]

# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [ ]:
list1 = [10, 21, 4, 45, 66, 93, 11]
sum1=0
sum2=0
_ = [sum1:=sum1 +x for x in list1 if x%2 !=0]

_ = [sum2:=sum2 +x for x in list1 if x%2 ==0]

print("Even numbers in the list: ", sum2)
print("Odd numbers in the list: ", sum1)

Even numbers in the list:  80
Odd numbers in the list:  170

In [ ]:
list1 = [12, 15, 3, 10]
sum = 0

#list comprehension.
#[<do-this> <iteration> < condition>]
#condition is optional

_ = [sum:=sum +x for x in list1]
sum

40

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [3]:


list_squares_oddnumbers=[x*x for x in range(1,10) if x%2 !=0]

list_squares_oddnumbers

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [22]:
list1=[1,2,3,4,5]

list2=["apple","banana","cherry","avacado","mango"]

res_dict={}

#without list comprehension
"""
for key in list1:
    for value in list2:
       res_dict[key] = value
"""


res_dict = {list1[i]: list2[i] for i in range(len(list1))}
res_dict

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'avacado', 5: 'mango'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [21]:
str1="subhra"
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
list1=[]

#without list comprehension
"""
for i in range(len(str1)):
    if str1[i] in vowels:
      list1.append(str1[i])
"""

#using list comprehension
list1= [str1[i] for i in range(len(str1)) if str1[i] in vowels ]
list1

['u', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [37]:

#don't know

Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [ ]:
#don't understand

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [38]:
"""
A Pythagorean triplet is a set of three positive integers a, b and c
such that a2 + b2 = c2. Given a limit, generate all Pythagorean Triples
with values smaller than given limit.



Input : limit = 20
Output : 3 4 5
         8 6 10
         5 12 13
         15 8 17
         12 16 20

         """

n = int(input('Enter the value of n: '))
print([(a, b, c) for a in range(1, n + 1) for b in range(a, n + 1)
       for c in range(b, n + 1) if a**2 + b**2 == c**2])

Enter the value of n: 60
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (20, 48, 52), (21, 28, 35), (24, 32, 40), (24, 45, 51), (27, 36, 45), (28, 45, 53), (30, 40, 50), (33, 44, 55), (36, 48, 60), (40, 42, 58)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [39]:
"""

List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]]

"""


"""
    Import itertools package and initialize list_1 and list_2.
    Create an empty list of ‘unique_combinations’ to store the resulting combinations so obtained.
    Call itertools.permutations( ) which will return permutations of list_1 with length of list_2. Generally, the length of the shorter list is taken and if both lists are equal, use either.
    For loop is used and zip() function is called to pair each permutation and shorter list element into the combination.
    Then each combination is converted into a list and append to the combination list.


"""
#don't understand

import itertools
from itertools import permutations

# initialize lists
list_1 = ["a", "b", "c","d"]
list_2 = [1,4,9]

# create empty list to store the
# combinations
unique_combinations = []

# Getting all permutations of list_1
# with length of list_2
permut = itertools.permutations(list_1, len(list_2))

# zip() is called to pair each permutation
# and shorter list element into combination
for comb in permut:
    zipped = zip(comb, list_2)
    unique_combinations.append(list(zipped))

# printing unique_combination list
print(unique_combinations)

[[('a', 1), ('b', 4), ('c', 9)], [('a', 1), ('b', 4), ('d', 9)], [('a', 1), ('c', 4), ('b', 9)], [('a', 1), ('c', 4), ('d', 9)], [('a', 1), ('d', 4), ('b', 9)], [('a', 1), ('d', 4), ('c', 9)], [('b', 1), ('a', 4), ('c', 9)], [('b', 1), ('a', 4), ('d', 9)], [('b', 1), ('c', 4), ('a', 9)], [('b', 1), ('c', 4), ('d', 9)], [('b', 1), ('d', 4), ('a', 9)], [('b', 1), ('d', 4), ('c', 9)], [('c', 1), ('a', 4), ('b', 9)], [('c', 1), ('a', 4), ('d', 9)], [('c', 1), ('b', 4), ('a', 9)], [('c', 1), ('b', 4), ('d', 9)], [('c', 1), ('d', 4), ('a', 9)], [('c', 1), ('d', 4), ('b', 9)], [('d', 1), ('a', 4), ('b', 9)], [('d', 1), ('a', 4), ('c', 9)], [('d', 1), ('b', 4), ('a', 9)], [('d', 1), ('b', 4), ('c', 9)], [('d', 1), ('c', 4), ('a', 9)], [('d', 1), ('c', 4), ('b', 9)]]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [46]:
#Mean


#Median


#Mode

35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

37. Write a program that finds the longest word in a sentence using list comprehension.

38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list

40. Write a program that generates a list of prime palindromic numbers using list comprehension.